
.contenitore{	
    background-image: url(../immagini/mappa_vuota.jpg);
    position: relative;
    height: 1020px;
    width: 1180px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border: 3px solid black;
    border-radius: 20px;
    	
}

.form_css{
    border-radius: 10px 10px 10px 10px;
    background-image: linear-gradient(to top left, #FFFFFF 0%, lightblue 60%);
    height: 400px;
    weight: 25%;
    padding: 2%;
    border: 2px solid black;
    margin: 5%;
    color: black;
}

.ristorante:hover{
	border: none ;
	border-radius: 5px 5px 5px 5px;
	transition: 0.2s;
	border-style: none;
	padding: 5px;
	border-radius: 5px 5px 5px 5px ;
	transform: scale(1.1); 
}
 
 .img_ombrellone:hover{
	border: none ;
	border-radius: 5px 5px 5px 5px;
	transition: 0.2s;
	border-style: none;
	padding: 10px;
	border-radius: 5px 5px 5px 5px ;
	transform: scale(1.1); 	
}
.img_doccia{
	font-size:20px;
	z-index:1;
	position:absolute;
	background-color:#6fff45;
}

.img_doccia:hover{
	
	border: none ;
	border-radius: 5px 5px 5px 5px;
	transition: 0.2s;
	border-style: none;
	padding: 10px;
	border-radius: 5px 5px 5px 5px ;
	transform: scale(1.1); 
}


.img_ombrellone{
	font-size:370%;
	z-index:1;
	position:absolute;
	background-color:#6fff45;
}

.info_ombrelloni{
	background-color: green; 
	float:right; 
	margin: auto;
	
}
.periodo{
	
	border: 2px solid black;
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-family: cursive;
    padding: 5%;
}

#data, #slot_orario {
  width: 50%;
  box-sizing: border-box;
  float:left;
}
